.task-item {
    display: flex;
    align-items: flex-start; 
    background-color: #ededed;
    padding: 12px 16px;
    border-radius: 8px;
    gap: 12px; 
    margin-bottom: 8px; 
}

.task-checkbox {
    margin-top: 2px;
}

.circle-icon, .undo-icon {
    color: #888888;     
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.circle-icon:hover {
    color: #689245; 
}

@keyframes spinCycle {
    from { transform: rotate(0deg); }
    to { transform: rotate(-90deg); }
}

.undo-icon:hover {
    color: #7b2c2c; 
    animation: spinCycle .2s linear;
    transform: rotate(-90deg);
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-title {
    font-size: 1.1rem;
    color: #000000;
    line-height: 1.2;
}

.task-meta {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.8rem;
    font-weight: 700;
}

.task-date {
    display: flex;
    align-items: center;
    gap: 4px;

}

.task-date.today{
    color: #4ec62a;
}
.task-date.upcoming{
    color: #0855c0;
}
.task-date.overdue{
    color: #e33535;
}

.task-recurring {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #808080; 
}