body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page-layout {
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ebebeb;
}

.main-content {
    flex: 1;
    overflow-y: auto;
}

.popup-overlay{
    height: 100%;
}

.profile-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}